{% extends 'layout.twig' %}

{% block content %}
  {% if title_option != "on" %}
    {% if post.title %}
    <h1 id="page-title">
      {{ post.title }}
    </h1>
    {% endif %}
  {% endif %}

  {% for post in posts %}
    {{ function('flexible_content', 'group_component') }}
  {% endfor %}

  {#% if function('comments_open') %}
  {% include 'comments.twig' %}
  {{ function('comment_form') }}
  {% endif %#}

{% endblock %}
